.env
.env.*
/node_modules
/vendor
/.vscode
/.idea
/public/build
/public/hot
/storage/*.key

# Laravel Logs
/storage/logs/*.log

# Laravel Cache & Sessions
/storage/framework/cache/*
/storage/framework/sessions/*
/storage/framework/views/*

# Optional
/bootstrap/cache/*.php